	#active {
			width: 1200px;
			height: 100px;
			border: 1px solid rgb(209, 209, 209);
			margin: 0 auto;
			background-color: rgb(255, 255, 255);
		}
		
		#div2 {
			width: 150px;
			height: 400px;
			border: 1px solid rgb(209, 209, 209);
			margin-top: 15px;
			margin-left: 164px;
			background-color: rgb(255, 255, 255);
		}
		
		#div3 {
			width: 1010px;
			height: 560px;
			border: 1px solid rgb(209, 209, 209);
			margin-left: 330px;
			margin-top: -402px;
			background-color: rgb(255, 255, 255);
			
		}
		
		#div4 {
			width: 1060px;
			height: 40px;
			border: 0px solid rgb(209, 209, 209);
			margin-top: 30px;
			margin-left: 250px;
			background-color: rgb(255, 255, 255);
			background-color: rgb(244, 244, 244);
			text-align: center;
		}
		
		* {
			margin-top: 0px;
			background-color: rgb(238, 238, 238);
		}
		
		#img1 {
			margin-top: 20px;
			margin-left: 30px;
			background-color: rgb(255, 255, 255);
		}
		
		a {
			color: rgb(100, 168, 220);
			text-decoration: none;
			background-color: rgb(255, 255, 255);
			margin: 10px;
		}
		
		#table1 {
			margin-left: 880px;
			margin-top: -45px;
			background-color: rgb(255, 255, 255);
		}
		
		#div2 {
			color: rgb(101, 101, 101);
		}
		
		#p1 {
			margin-left: 35px;
			margin-top: 20px;
			background-color: rgb(255, 255, 255);
		}
		
		td {
			background-color: rgb(255, 255, 255);
		}
		
		ul {
			background-color: rgb(255, 255, 255);
		}
		
		li {
			margin: 5px;
			list-style-type: none;
			background-color: rgb(255, 255, 255);
		}
		
		#table2 {
			margin-left: 0px;
			margin-top: 40px;
			padding-left: 15px;
		}
		
		#table2 li {
			margin-top: 10px;
		}
		#divs{
			background-color: white;
			margin-left: 60px;
		}
		.div1{
			margin-left: 50px;
			margin-top: 20px;
		}
		p{
			background-color: white;	
			margin-left: 40px;
		}
		#a1{
			margin-left: 700px;
			float: right;
			margin-top: -40px;
		}
		#divs1{
			background-color: white;
			margin-left: 90px;
			margin-top: -10px;
		}
		#hr1{
			width: 900px;
			margin-left: 70px;
		}
		#div3 p{
			margin-left: 90px;
			margin-top: 30px;
		}