			*{
				margin: 0px;
				padding: 0px;
			}
			.geren{
				width: 100%;
				height: 100%;
				/*border: 1px solid black;*/
				background:  #D8DBE0;
			}
			.geren1{
				/*border: 1px solid salmon;*/
				width: 1200px;
				height: 80px;
				background: white;
				margin:0 auto;  /*居中*/
			}
			.tup2{
				/*border: 1px solid #000000;*/
				width: 400px;
				height: 80px;
			}
			.tup2 img{
				margin-top: 10px;
			}
			.geren2{
				/*border: 1px solid black;*/
				width: 480px;
				height: 80px;
				float: right;
				margin-top: -83px;
			}
			a:link, a:visited, a:active {
    		color: #64a8dc;
    		text-decoration: none;
		}
		.gg1{
			font-style: normal;
    		height: 12px;
    		color: #bcbcbc;
    		padding: 0 5px;
		}
		 .geren3{
			 	margin-top: 30px;
			 }
		.geren4{
			border: 1px solid white;
            border-top: 0;
			width: 1200px;
			height: 220px;
			background: white;
			margin: 0 auto;
			border-top: 0px;
			
		}
		.zit2{
			font-size: 14px;
    		color: #707071;
    		padding-top: 30px;
    		padding-left: 90px;
		}
		.zit3{
			color: #000;
    		padding-right: 40px;
		}
		.geren5{
			width: auto;
			/*border: 1px solid salmon;*/
			
		}
		tbody{
			    display: table-row-group;
    			vertical-align: middle;
    			border-color: inherit;
		}
		tr{
			display: table-row;
    		vertical-align: inherit;
    		border-color: inherit;
		}
		.td1{
			margin: 0px;
			padding: 0px;
		}
		.diul1{
			margin: 10px auto 0;
    		text-align: center;
    		height: 110px;
    		font-size: 14px;
    		margin:0px auto;
		}
		.dili1{
			background: url(img/dl_basic-done.gif) no-repeat;
    		width: 80px;
    		height: 30px;
    		padding-top: 80px;
		}
		.diul1 li{
			float: left;
		}
		li{
			list-style: none;
		}
		a:link, a:visited, a:active {
    	color: #64a8dc;
    	text-decoration: none;
		}
		.zit4{
			color: #010101;
		}
		.dili2{
			background: url(img/dl_greyarrow.gif) no-repeat;
    		width: 80px;
    		height: 30px;
    		padding-top: 80px;
    		
		}
		
		.geren6{
			/*border: 1px solid black;*/
			width: 500px;
			background: white;
			margin: 0px auto;
			margin-top: 20px;
		}
		.dili3{
			background: url(img/dl_profile.gif) no-repeat;
    		width: 80px;
    		height: 30px;
    		padding-top: 80px;
		}
		.zit5{
			color: #aaa;
		}
		.dili4{
			background: url(img/dl_submit-grey.gif) no-repeat;
    		width: 80px;
    		height: 30px;
    		padding-top: 80px;
		}
		.zit6{
			color: #aaa;
		}
		
		.geren7{
			border: 1px solid #dfe4ea;
			width:1200px;
			height: 700px;
			background: #DEE5ED;
			
			margin: 0px auto;
		}
		
		.geren8{
			/*border: 1px solid black;*/
			border: 1px solid #DEE5ED;
			width: 1000px;
			/*height: 600px;*/
			height: auto;
			background: white;
			margin: 0px auto;
			margin-top: -30px;
			/*background:  hotpink #FFB6C1;*/
		}
		.hh{
			background: linear-gradient(to left,hotpink,#FFB6C1);
			height: 32px;
    		line-height: 24px;
            width: 200px;
            margin-top: 30px;
            margin-left: 50px;
            
		}
		.zit7{
			font-weight: bold;
    		font-size: 16px;
    		padding-left: 10px;
    		border-left: 4px solid #74a7d0;
		}
		
		.zhou{
			/*border:  1px solid black;*/
			margin-top: 20px;
		}
		.ban{
			margin-left: 20px;
			font-size: 16px;
			font-weight: bold;
			height: 20px;
			
		}
		.ban1{
			margin-top: 20px;
		}
		.ban1 li{
			margin-left: 50px;
			margin-top: 20px;
		}
		.xue{
			margin-left: 40px;
		}
		.zi1{
			color:#D8DBE0;
			font-size: 10px;
		}
		.shij{
			margin-left: 80px;
		}
		.chuang{
			margin-left: 40px;
		}
		.li1{
			margin-left: 70px;
		}
		.wei3{
			height: 20px;
			margin-left: 70px;
			
		}
		.baocun{
			width: 60px;
			height: 30px;
		   background:  #F4A460;
		}
		.ban2{
			border-bottom: 1px dashed #D8DBE0;
		}
		.duo{
			margin-left: 50px;
		}
		.diyi1{
			/*text-align: center;*/
			margin-top: 50px;
		}
		.diyi2{
			margin-top: 70px;
			/*margin-left: 60px;*/
			/*text-align: center;*/
		}
		hr{
			width: 800px;
			margin: 0px auto;
		}
		.ban3{
			/*border: 1px solid black;*/
			text-align: center;
			/*margin:0px auto ;*/
			margin-top: 20px;
			margin-bottom: 30px;
		}
		.a2{
			width: 100px;
			height: 30px;
			background: #D8DBE0;
		}